.user-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}
.user-checkbox {
  height: 15px;
  width: 15px;
  margin-right: 20vw;
}
.user-details {
  font-family: 'Roboto';
  width: 19vw;
}
.actions-container {
  display: flex;
  align-items: center;
}
.edit-icon {
  font-size: 20px;
}
.delete-icon {
  color: crimson;
  font-size: 20px;
}
.edit-button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
.delete-button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
.edit-all-fields-container {
  display: flex;
  width: 100%;
}
.user-name-input {
  margin-left: 15vw;
  margin: 5px;
  padding: 5px;
}
.user-email {
  margin-left: 5vw;
  margin: 5px;
  padding: 5px;
}
.user-role-input {
  margin-left: 5.5vw;
  margin: 5px;
  padding: 5px;
}
.edit-mode-save-button {
  height: 30px;
  width: 60px;
  margin: 5px;
  margin-left: 7vw;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto';
  color: gray;
  background-color: rgb(0 110, 240);
  border: 0px solid;
  border-radius: 8px;
}
