.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.not-found-image {
  width: 400px;
}
.not-found-description {
  color: #ffffff;
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 10px;
}
.not-found-details-message {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 800;
}
