.job-card {
  list-style-type: none;
  margin-bottom: 48px;
  width: 100%;
  border-radius: 8px;
  background-color: #202020;
  padding: 30px;
  margin: 30px;
}

.link-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.package-rating-description-container {
  display: flex;
  justify-content: space-between;
}

.job-logo-rating-container {
  display: flex;

  align-items: center;
}
.company-logo-jobs-image {
  height: 30px;
  width: 30px;
}
.rating-job-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.title-job {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 800;
}
.rating-color {
  color: #fbbf24;
  font-size: 26px;
}
.rating-count {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 800;
}
.rating-count-container {
  display: flex;
  align-items: center;
}

.package-location-employment-container {
  display: flex;
  justify-content: space-between;
}
.location-company-type-container {
  display: flex;
  align-items: center;
}
.location {
  display: flex;
  align-items: center;
}
.location-icon-image {
  font-size: 30px;
  color: #ffffff;
}
.location-jobs {
  color: #ffffff;
  font-size: 23px;
  font-family: 'Roboto';
  font-weight: 800;
  margin-left: 10px;
}
.company-type-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.bag-image {
  font-size: 30px;
  color: #ffffff;
}
.employment-type {
  color: #ffffff;
  font-size: 23px;
  font-family: 'Roboto';
  font-weight: 800;
  margin-left: 10px;
}

.lack-per-annum {
  color: #ffffff;
  font-size: 23px;
  font-family: 'Roboto';
  font-weight: 800;
}
.hr-line {
  color: #475569;
  width: 100%;
  border-width: 2px;
}
.description-heading {
  color: #ffffff;
  font-size: 26px;
  font-family: 'Roboto';
  font-weight: 800;
}
.job-card-description {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
}
