.similar-card-container {
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  width: 50px;
  background-color: #475569;
}

@media screen and (min-width: 768px) {
  .similar-card-container {
    width: 30px;
  }
}

.logo-title-container-similar {
  display: flex;
}

.similar-job-card-image {
  height: 13px;
  width: 13px;
}
@media screen and (min-width: 768px) {
  .similar-job-card-image {
    height: 43px;
    width: 43px;
  }
}

.title-container {
  display: flex;
}

.similar-title {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 800;
}
.similar-rating {
  display: flex;
  align-items: center;
}

.rating-similar {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
}
.similar-card-description {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
}
.description {
  color: #ffffff;
  font-size: 13px;
  font-family: 'Roboto';
}
.rating-color {
  color: #fbbf24;
  font-size: 26px;
}
