.similar-card-item {
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  width: 40%;

  list-style-type: none;

  margin: 20px;
  background-color: red;

  padding: 20px;
}

.logo-title-container-similar {
  display: flex;
}

.similar-job-card-image {
  height: 13px;
  width: 13px;
}
@media screen and (min-width: 768px) {
  .similar-job-card-image {
    height: 23%;
    width: 23%;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
}

.similar-title {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 800;
}
.similar-rating {
  display: flex;
}

.rating-similar {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
}
.similar-card-description {
  color: #ffffff;
  font-size: 15px;
  font-family: 'Roboto';
}
.description {
  color: #ffffff;
  font-size: 13px;
  font-family: 'Roboto';
}
.rating-color {
  color: #fbbf24;
  font-size: 26px;
}
.location-image {
  font-size: 30px;
  color: #ffffff;
}
.employment-image {
  font-size: 24px;
  color: #ffffff;
}
.similar-card-employ-type-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.similar-location-container-details {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.location-and-similar-employment-container {
  display: flex;
}
.address-job-detail {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 800;
  margin-left: 10px;
}
.employment-type {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 800;
}
