.nav-bar-header {
  display: flex;
  justify-content: center;
  background-color: #202020;
}

@media screen and (max-width: 768px) {
  .nav-bar-header {
    flex-direction: column;
    align-items: center;
  }
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1110px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .nav-content {
    flex-direction: column;
  }
}

.nav-bar-logo-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav-bar-logo-container {
    display: none;
  }
}
.website-logo {
  width: 110px;
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 165px;
  }
}

.nav-bar-image {
  width: 24px;
}
.nav-bar-large-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
}
@media screen and (max-width: 768px) {
  .nav-bar-large-container {
    display: none;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  flex-grow: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}
.nav-menu-item {
  font-size: 15px;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 800;
}
.nav-menu-mobile {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav-menu-mobile {
    display: none;
  }
}
.nav-menu-list-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  height: 70px;
  background-color: #202020;
}
.nav-menu-mobile-item {
  cursor: pointer;
  margin: 0px;
}
.nav-link {
  text-decoration: none;
  color: #ffffff;
}
.logout-desktop-btn {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  padding: 8px 16px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  background-color: #6366f1;
}
@media screen and (max-width: 768px) {
  .logout-desktop-btn {
    display: none;
  }
}

.nav-mobile-btn {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  background-color: transparent;
}
