.all-jobs-section-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .all-jobs-section-container {
    display: flex;
    align-items: center;
  }
}
.profile-container {
  width: 50%;
}
.search-and-jobs-list-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 6px;
  width: 100%;
}
.input-search {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  padding: 10px;
  height: 20px;
  border: none;

  outline: none;
  flex-grow: 1;
  font-weight: 800;
  background-color: transparent;
}
.search-btn-icon {
  border: none;
  cursor: pointer;
  background-color: #202020;
  height: 30px;
  width: 30px;

  outline: none;
}
.search-icon {
  color: #ffffff;
  font-size: 30px;
  margin-right: 6px;
}
.total-list-f-jobs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jobs-unordered-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin: 0px;
  list-style-type: none;
}
.no-job-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-job-image {
  height: 30px;
  width: 40px;
}

@media screen and (min-width: 768px) {
  .no-job-image {
    width: 140px;
    height: 40px;
  }
}

.no-job-heading {
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  .no-job-heading {
    font-size: 22px;
  }
}

.no-job-description {
  color: #ffffff;
  font-size: 13px;
  font-family: 'Roboto';
}
@media screen and (min-width: 768px) {
  .no-job-description {
    font-size: 16px;
  }
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-image {
  height: 30px;
  width: 100px;
}
@media screen and (min-width: 768px) {
  .failure-image {
    height: 50px;
    width: 200px;
  }
}

.failure-heading {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  .failure-heading {
    font-size: 25px;
  }
}

.failure-description {
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
}
@media screen and (min-width: 768px) {
  .failure-description {
    font-size: 16px;
  }
}

.retry-btn {
  background-color: #4f46e5;
  padding: 10px;
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
